@model MVCCrud.Models.ViewModels.TablaViewModel
@{
    ViewBag.Title = "Nuevo";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Editar", "Tabla", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            @Html.HiddenFor(d => d.Id)
            <div>
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Nombre, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Title)
                @Html.TextBoxFor(d => d.Title, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Title, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Description)<br />
                @Html.EditorFor(d => d.Description, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Description, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.Observations)<br />
                @Html.EditorFor(d => d.Observations, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Observations, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(d => d.PriceClient)<br />
                @Html.EditorFor(d => d.PriceClient, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.PriceClient, null, new { @class = "red" })
            </div>
            <br />
            <div style="text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>

    </div>
}
